.App {
  font-family: sans-serif;
  text-align: center;
}
#card {
  width: 300px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  font-family: italic;
  background-color: #52998a;
}

#top {
  padding: 5px;
}

#top h3 {
  margin: 0;
  font-size: 1.5rem;
}

#card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  margin: auto;
  display: block;
  background-color: #000000;
}

#down {
  padding: 5px;
}

#down p {
  margin: 5px;
  font-size: 1rem;
  font-style: italic;
  font-weight: bolder;
  color: #0d000063;
}
